@model List<RentACarTI2.Models.Maintenance>
@{
    ViewBag.MaintenanceActive = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search Maintenance...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Maintenances Table</h4>
                        <p class="card-category"> Maintenances Informations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Company Name
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Costs
                                        </th>
                                        <th>
                                            Vehicle
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <th>
                                            Return Date
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var maintenance in Model)
                                    {
                                        <tr>
                                            <td>
                                                @maintenance.MaintenanceID
                                            </td>
                                            <td>
                                                @maintenance.ResponsibleCompany
                                            </td>
                                            <td>
                                                @maintenance.Description
                                            </td>
                                            <td>
                                                $@maintenance.Costs
                                            </td>
                                            <td>
                                                @maintenance.VehicleInfos
                                            </td>
                                            <td>
                                                @maintenance.StartDate
                                            </td>
                                            <td>
                                                @maintenance.ReturnDate
                                            </td>
                                            <td class="td-actions text-right">
                                                <button id="@maintenance.MaintenanceID" onclick="closeTransaction(this)" type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                        data-original-title="Close Transaction" data-toggle="modal"
                                                        data-target="#closeTransactionModal">
                                                    <i class="material-icons">done</i>
                                                </button>
                                                <a href="/Admin/Maintenance/Edit/@maintenance.MaintenanceID" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <button id="@maintenance.MaintenanceID" onclick="deleteMaintenance(this)" type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Remove"
                                                        data-toggle="modal" data-target="#deleteRecordModal">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("CloseTransactionPartialView"); }
@{ await Html.RenderPartialAsync("DeleteRecordPartialView"); }

@section Scripts
{
    <script>
        function deleteMaintenance(item) {
            let id = item.getAttribute("id");
            $('#deleteTransaction').attr("action", "/Admin/Maintenance/Delete/" + id);
            console.log(id);
        }

        function closeTransaction(item) {
            let id = item.getAttribute("id");
            $('#closeTransaction').attr("action", "/Admin/Maintenance/CloseTransaction/" + id);
            console.log(id);
        }
    </script>
}