@model List<RentACarTI2.Models.User>
@{
    ViewBag.UserActive = "active";
    ViewBag.Page = "Users";
    ViewBag.Title = "Rent a Car - Users Page";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="ml-4">
                <a class="table-add-btn" href="/Admin/User/Create">
                    <i class="material-icons primary-color" style="font-size: 40px;">add_box</i>
                </a>
            </div>
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input id="searchUser" onkeyup="myFunction()" type="text" value="" class="form-control" placeholder="Search User...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Users Table</h4>
                        <p class="card-category"> Users Informations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="usersTable" class="table table-hover">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Username
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Last Login
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>
                                                @user.UserID
                                            </td>
                                            <td>
                                                @user.Username
                                            </td>
                                            <td>
                                                @user.Role.Name
                                            </td>
                                            <td>
                                                @user.Email
                                            </td>
                                            @if (user.LastLoginDate != DateTime.MinValue)
                                            {
                                                <td>
                                                    @user.LastLoginDate.ToString("dd ddd, MMM, yyyy, H:mm")
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    No Date
                                                </td>
                                            }
                                            <td class="td-actions text-right">
                                                <a href="/Admin/User/Edit/@user.UserID" rel="tooltip" class="btn btn-white btn-link btn-sm" data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <button id="@user.UserID" onclick="deleteUser(this)" type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Remove"
                                                        data-toggle="modal" data-target="#deleteRecordModal">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("DeleteRecordPartialView"); }

@section Scripts
{
    <script src="/Admin/Content/js/material-dashboard.js"></script>
    <script>
        var response = '@ViewBag.response';
        if (response == "created") {
            md.showNotification('top', 'center', 'User created successfully', 2, 0);
        }
        else if (response == "deleted") {
            md.showNotification('top', 'center', 'User deleted successfully', 2, 0);
        }

        // FILTERING
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("searchUser");
            filter = input.value.toUpperCase();
            table = document.getElementById("usersTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                // Hide the row initially.
                tr[i].style.display = "none";

                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    cell = tr[i].getElementsByTagName("td")[j];
                    if (cell) {
                        if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
            
        }

        function deleteUser(item) {
            let id = item.getAttribute("id");
            $('#deleteTransaction').attr("action", "/Admin/User/Delete/" + id);
            console.log(id);
        }
    </script>
}

