@model List<RentACarTI2.Models.Booking>
@{
    ViewBag.BookingActive = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input id="searchBooking" onkeyup="myFunction()" type="text" value="" class="form-control" placeholder="Search Reservation...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Reservations Table</h4>
                        <p class="card-category"> Reservations Informations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="bookingsTable" class="table table-hover">
                                <thead class=" text-primary">
                                    <tr>
                                        <th></th>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Client
                                        </th>
                                        <th>
                                            Vehicle
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Rental Date
                                        </th>
                                        <th>
                                            Return Date
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var booking in Model)
                                    {
                                        <tr>
                                            <td>
                                                @if (booking.BookingStatusID == 1)
                                                {
                                                    <img src="/Admin/Content/assets/img/orangeCircle.png" />
                                                }
                                                else if (booking.BookingStatusID == 2)
                                                {
                                                    <img src="/Admin/Content/assets/img/greenCircle.png" />
                                                }
                                                else
                                                {
                                                    <img src="/Admin/Content/assets/img/redCircle.png" />
                                                }
                                            </td>
                                            <td>
                                                @booking.BookingID
                                            </td>
                                            <td>
                                                @booking.BookingDate.ToString("dd-MM-yyyy")
                                            </td>
                                            @if (booking.clientInfos != " ")
                                            {
                                                <td>@booking.clientInfos</td>
                                            }
                                            else
                                            {
                                                <td style="color:red;">Client Deleted</td>
                                            }
                                            <td>
                                                @booking.vehicleInfos
                                            </td>
                                            <td>
                                                $@booking.TotalPrice
                                            </td>
                                            <td>
                                                @booking.RentalDate.ToString("dd-MM-yyyy")
                                            </td>
                                            <td>
                                                @booking.ReturnDate.ToString("dd-MM-yyyy")
                                            </td>
                                            <td class="td-actions text-right">
                                                <button id="@booking.BookingID" onclick="cancelBooking(this)" type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Cancel Reservation"
                                                        data-toggle="modal" data-target="#cancelBookingModal">
                                                    <i class="material-icons">event_busy</i>
                                                </button>
                                                <a href="/Admin/Rental/Create/@booking.BookingID" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Create Rental">
                                                    <i class="material-icons">arrow_forward</i>
                                                </a>
                                                <button id="@booking.BookingID" onclick="deleteBooking(this)" type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Remove"
                                                        data-toggle="modal" data-target="#deleteBookingModal">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("DeleteRecordPartialView"); }
@{ await Html.RenderPartialAsync("CancelBookingPartialView"); }
@{ await Html.RenderPartialAsync("DeleteBookingPartialView"); }

@section Scripts
{
    <script src="/Admin/Content/js/material-dashboard.js"></script>
    <script>
        var response = '@ViewBag.Response';
        if (response == "successfully canceled") {
            md.showNotification('top', 'center', 'Successfully canceled reservation', 2, 0);
        }
        else if (response == "error canceling") {
            md.showNotification('top', 'center', 'An error happened while canceling reservation, please try again.', 1, 4);
        } 
        else if (response == "rental exists") {
            md.showNotification('top', 'center', 'There is an rental that is created from this reservation, you cannot cancel it anymore', 1, 2);
        }
        else if (response == "successfully deleted") {
            md.showNotification('top', 'center', 'Successfully deleted reservation', 2, 0);
        }
        else if (response == "error deleting") {
            md.showNotification('top', 'center', 'An error happened while deleting reservation, please try again', 2, 0);
        }

        function deleteBooking(item) {
            let id = item.getAttribute("id");
            $('#deleteBooking').attr("action", "/Admin/Reservation/Delete/" + id);
            console.log($('#deleteBookingModal').attr("method"));
            
        }

        function cancelBooking(item) {
            let id = item.getAttribute("id");
            $('#cancelBooking').attr("action", "/Admin/Reservation/Cancel/" + id);
            console.log($('#cancelBooking').attr("method"));
            console.log(id);
        }

        // FILTERING
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("searchBooking");
            filter = input.value.toUpperCase();
            table = document.getElementById("bookingsTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                // Hide the row initially.
                tr[i].style.display = "none";

                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    cell = tr[i].getElementsByTagName("td")[j];
                    if (cell) {
                        if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }

        }
    </script>
}