@using Newtonsoft.Json
@{
    ViewBag.DashboardActive = "active";
}

@* ----- STYLE ------ *@
@section Style
{
    <style>
        hr {
            border: 0;
            clear: both;
            display: block;
            width: 100%;
            background-color: #9c27b0;
            height: 1px;
            margin: 0;
        }

        .tab-pane h5 {
            color: #d9e0e0;
            font-size: 1.1em;
        }

        .tab-pane h4 {
            color: #d9e0e0;
            font-size: 1.5em;
        }
    </style>
}

@* ----- CONTENT ----- *@
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <h4 class="col-4 card-title">Vehicle Sales</h4>
                            <div class="col-6 text-right">
                                <a id="dailySalesDaily" class="mr-3 p-1 daily-monthly dark-edition purple-background"
                                   href="#">Daily</a>
                                <a id="dailySalesMonthly" class="p-1 dark-edition daily-monthly" href="#">Monthly</a>
                            </div>
                        </div>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in vehicle
                            sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> just updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="maintenanceCostsChart"></div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <h4 class="col-5 card-title">Maintenance Costs</h4>
                            <div class="col-6 text-right">
                                <a id="maintenanceCostsDaily" class="mr-3 p-1 daily-monthly dark-edition" href="#">Daily</a>
                                <a id="maintenanceCostsMonthly" class="p-1 dark-edition daily-monthly purple-background"
                                   href="#">Monthly</a>
                            </div>
                        </div>
                        <p class="card-category">
                            <span class="text-warning"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in maintenance
                            costs.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> just updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="repairCostsChart"></div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <h4 class="col-5 card-title">Repair Costs</h4>
                            <div class="col-6 text-right">
                                <a id="repairCostsDaily" class="mr-3 p-1 daily-monthly dark-edition purple-background"
                                   href="#">Daily</a>
                                <a id="repairCostsMonthly" class="p-1 dark-edition daily-monthly" href="#">Monthly</a>
                            </div>
                        </div>
                        <p class="card-category">
                            <span class="text-danger"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in repair costs.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> just updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Revenue</p>
                        <h3 class="card-title text-success">$@JsonConvert.DeserializeObject(ViewBag.Statistics).revenue</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">money_off</i>
                        </div>
                        <p class="card-category">Expenses</p>
                        <h3 class="card-title text-danger">$@JsonConvert.DeserializeObject(ViewBag.Statistics).expenses</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info  card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">event</i>
                        </div>
                        <p class="card-category">Reservations</p>
                        <h3 class="card-title text-info">@JsonConvert.DeserializeObject(ViewBag.Statistics).reservations</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning  card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">event_busy</i>
                        </div>
                        <p class="card-category">Canceled Reservations</p>
                        <h3 class="card-title text-warning">@JsonConvert.DeserializeObject(ViewBag.Statistics).canceledReservations</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Reservations</h4>
                        <p class="card-category">New reservations on @DateTime.Today.ToString("dd")th @DateTime.Today.ToString(" MMM, yyyy")</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>ID</th>
                            <th>Client</th>
                            <th>Vehicle</th>
                            <th>Price</th>
                            </thead>
                            <tbody>
                                @foreach (var booking in (List<RentACarTI2.Models.Booking>)ViewBag.Bookings)
                                {
                                    <tr>
                                        <td>@booking.BookingID</td>
                                        <td>@booking.clientInfos</td>
                                        <td>@booking.vehicleInfos</td>
                                        <td class="text-primary">$@booking.TotalPrice</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-warning">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#returns" data-toggle="tab">
                                            <i class="material-icons">assignment_return</i> Returns
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#repairs" data-toggle="tab">
                                            <i class="material-icons">build</i> Repairs
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#maintenances" data-toggle="tab">
                                            <i class="material-icons">home_repair_service</i> Maintenances
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="returns">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <tr>
                                                <th>ID</th>
                                                <th>Date</th>
                                                <th>Client</th>
                                                <th>Vehicle</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var Return in (List<RentACarTI2.Models.Rental_Return>)ViewBag.Returns)
                                            {
                                                <tr>
                                                    <td>@Return.Rental_ReturnID</td>
                                                    <td>@Return.Date</td>
                                                    <td>@Return.clientInfos</td>
                                                    <td>@Return.vehicleInfos</td>
                                                    <td class="text-danger">Open</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                                data-original-title="Full Details" data-toggle="modal"
                                                                data-target="#fullDetailsModal">
                                                            <i class="material-icons">list_alt</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                                data-original-title="Close Transaction" data-toggle="modal"
                                                                data-target="#closeTransactionModal">
                                                            <i class="material-icons">done</i>
                                                        </button>
                                                        <a href="repair-crud.html" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                           data-original-title="Create Repair">
                                                            <i class="material-icons">build</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td>1</td>
                                                <td>15-09-2021</td>
                                                <td>Ermal Berisha</td>
                                                <td>Audi A4 Avant</td>
                                                <td class="text-danger">Open</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                            data-original-title="Full Details" data-toggle="modal"
                                                            data-target="#fullDetailsModal">
                                                        <i class="material-icons">list_alt</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                            data-original-title="Close Transaction" data-toggle="modal"
                                                            data-target="#closeTransactionModal">
                                                        <i class="material-icons">done</i>
                                                    </button>
                                                    <a href="repair-crud.html" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                       data-original-title="Create Repair">
                                                        <i class="material-icons">build</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="repairs">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <tr>
                                                <th>ID</th>
                                                <th>Company Name</th>
                                                <th>Vehicle</th>
                                                <th>Start Date</th>
                                                <th>Return Date</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var Repair in (List<RentACarTI2.Models.Repair>)ViewBag.Repairs)
                                            {
                                                <tr>
                                                    <td>@Repair.RepairID</td>
                                                    <td>@Repair.ResponsibleCompany</td>
                                                    <td>@Repair.VehicleInfos</td>
                                                    <td>@Repair.StartDate</td>
                                                    <td>@Repair.ReturnDate</td>
                                                    <td class="text-danger">Open</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                                data-original-title="Full Details" data-toggle="modal"
                                                                data-target="#fullDetailsModal">
                                                            <i class="material-icons">list_alt</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                                data-original-title="Close Transaction" data-toggle="modal"
                                                                data-target="#closeTransactionModal">
                                                            <i class="material-icons">done</i>
                                                        </button>
                                                        <a href="repair-crud.html" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                           data-original-title="Create Repair">
                                                            <i class="material-icons">build</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td>1</td>
                                                <td>Auto Service</td>
                                                <td>Golf 6 GTI</td>
                                                <td>15-06-2021</td>
                                                <td>18-06-2021</td>
                                                <td class="text-danger">Repairing</td>
                                                <td class="td-actions">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                            data-original-title="Close Transaction" data-toggle="modal"
                                                            data-target="#closeTransactionModal">
                                                        <i class="material-icons">done</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="maintenances">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <tr>
                                                <th>ID</th>
                                                <th>Company Name</th>
                                                <th>Vehicle</th>
                                                <th>Start Date</th>
                                                <th>Return Date</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var Maintenance in (List<RentACarTI2.Models.Maintenance>)ViewBag.Maintenances)
                                            {
                                                <tr>
                                                    <td>@Maintenance.MaintenanceID</td>
                                                    <td>@Maintenance.ResponsibleCompany</td>
                                                    <td>@Maintenance.VehicleInfos</td>
                                                    <td>@Maintenance.StartDate</td>
                                                    <td>@Maintenance.ReturnDate</td>
                                                    <td class="text-danger">Open</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                                data-original-title="Full Details" data-toggle="modal"
                                                                data-target="#fullDetailsModal">
                                                            <i class="material-icons">list_alt</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                                data-original-title="Close Transaction" data-toggle="modal"
                                                                data-target="#closeTransactionModal">
                                                            <i class="material-icons">done</i>
                                                        </button>
                                                        <a href="repair-crud.html" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                           data-original-title="Create Repair">
                                                            <i class="material-icons">build</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td>1</td>
                                                <td>Auto Service</td>
                                                <td>Golf 6 GTI</td>
                                                <td>15-06-2021</td>
                                                <td>18-06-2021</td>
                                                <td class="text-danger">Repairing</td>
                                                <td class="td-actions">
                                                    <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"
                                                            data-original-title="Close Transaction" data-toggle="modal"
                                                            data-target="#closeTransactionModal">
                                                        <i class="material-icons">done</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* ----- RENDER PARTIAL VIEWS ----- *@
@{ await Html.RenderPartialAsync("CloseTransactionPartialView"); }
@{ await Html.RenderPartialAsync("FullDetailsPartialView"); }

@* ---- RENDER THIS SECTION AT LAYOUT (DASHBOARD CHART SCRIPTS) *@
@section Scripts
{
    <script src="/Admin/Content/js/material-dashboard.js"></script>
    <script>
        $(document).ready(function () {
            $().ready(function () {

                // CHARTS DATA FROM C#
                var Json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ChartsData));
                var chartsDataJson = Json.Value.dashboardCharts

                // LOAD DASHBOARD CHARTS
                md.initDashboardPageCharts(chartsDataJson);

                // INIT VEHICLE SALES DAILY/MONTHLY
                $('#dailySalesDaily').click(function () {
                    var item = document.getElementById('dailySalesDaily');
                    item.classList.add("purple-background");
                    $('#dailySalesMonthly').removeClass("purple-background")
                    md.initDailySalesChart(chartsDataJson.vehicleSales.daily);
                });
                $('#dailySalesMonthly').click(function () {
                    var item = document.getElementById('dailySalesMonthly');
                    item.classList.add("purple-background");
                    $('#dailySalesDaily').removeClass("purple-background")
                    md.initDailySalesMonthly(chartsDataJson.vehicleSales.monthly);
                });

                // INIT MAINTENANCE COSTS DAILY/MONTHLY
                $('#maintenanceCostsDaily').click(function () {
                    var item = document.getElementById('maintenanceCostsDaily');
                    item.classList.add("purple-background");
                    $('#maintenanceCostsMonthly').removeClass("purple-background")
                    md.initMaintenancesCostsDaily(chartsDataJson.maintenanceCosts.daily);
                });
                $('#maintenanceCostsMonthly').click(function () {
                    var item = document.getElementById('maintenanceCostsMonthly');
                    item.classList.add("purple-background");
                    $('#maintenanceCostsDaily').removeClass("purple-background")
                    md.initMaintenanceCostsMonthly(chartsDataJson.maintenanceCosts.monthly);
                });

                // INIT REPAIR COSTS DAILY/MONTHLY
                $('#repairCostsDaily').click(function () {
                    var item = document.getElementById('repairCostsDaily');
                    item.classList.add("purple-background");
                    $('#repairCostsMonthly').removeClass("purple-background")
                    md.initRepairCostsDaily(chartsDataJson.repairCosts.daily);
                });
                $('#repairCostsMonthly').click(function () {
                    var item = document.getElementById('repairCostsMonthly');
                    item.classList.add("purple-background");
                    $('#repairCostsDaily').removeClass("purple-background")
                    md.initRepairCostsMonthly(chartsDataJson.repairCosts.monthly);
                });
                //


                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);
                });
            });
        });
    </script>
}