@model List<RentACarTI2.Models.Client>
@{
    ViewBag.ClientActive = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input id="searchClient" onkeyup="myFunction()" type="text" value="" class="form-control" placeholder="Search Client...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Clients Table</h4>
                        <p class="card-category"> Clients Informations</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="clientsTable" class="table table-hover">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Surname
                                        </th>
                                        <th>
                                            Age
                                        </th>
                                        <th>
                                            Address
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Phone Nr
                                        </th>
                                        <th>
                                            Driving License
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var client in Model)
                                    {
                                        <tr>
                                            <td>
                                                @client.ClientID
                                            </td>
                                            <td>
                                                @client.Name
                                            </td>
                                            <td>
                                                @client.Surname
                                            </td>
                                            <td>
                                                @client.Age
                                            </td>
                                            <td>
                                                @client.Address
                                            </td>

                                            @if(client.Email == "No Email") 
                                            {
                                                <td style="color:red;">No Email</td>
                                            }
                                            else 
                                            {
                                                <td>
                                                @client.Email
                                            </td>
                                            }
                                            
                                            <td>
                                                @client.PhoneNr
                                            </td>
                                            <td>
                                                @client.DrivingLicense
                                            </td>
                                            <td class="td-actions text-right">
                                                <a href="/Admin/Client/Edit/@client.ClientID" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <button type="button" id="@client.ClientID" onclick="deleteClient(this)" rel="tooltip" title="" class="btn btn-white btn-link btn-sm" data-original-title="Remove"
                                                        data-toggle="modal" data-target="#deleteRecordModal">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("DeleteRecordPartialView"); }

@section Scripts
{
    <script src="/Admin/Content/js/material-dashboard.js"></script>
    <script>
        // SHOW MESSAGE BASED ON RESPONSE
        var response = '@ViewBag.Response';
        if (response == "successfully deleted client") {
            md.showNotification('top', 'center', 'Successfully deleted client', 2, 0);
        }
        else if (response == "error deleting client") {
            md.showNotification('top', 'center', 'An error happened while deleting client, please try again.', 1, 2);
        }

        // FILTERING
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("searchClient");
            filter = input.value.toUpperCase();
            table = document.getElementById("clientsTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                // Hide the row initially.
                tr[i].style.display = "none";

                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    cell = tr[i].getElementsByTagName("td")[j];
                    if (cell) {
                        if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }

        }

        function deleteClient(item) {
            let id = item.getAttribute("id");
            $('#deleteTransaction').attr("action", "/Admin/Client/Delete/" + id);
            console.log(id);
        }
    </script>
}